.btn-primary,
.btn-secondary{
  display: inline-block;
  border-radius: 12.2rem;
  font-size: 1.6rem;
  font-family: $poppins;
  font-weight: 600;
  line-height: 100%;
  transition: all .3s ease;
}

.btn-primary{
  padding: 1.6rem 2.7rem;
  background-color: $brand-yellow;
  color: #855B35;
  &:hover{
    background-color: #FFDC5C;
  }
}

.btn-secondary{
  padding: 1.3rem 1.8rem;
  background-color: transparent;
  color: $brand-light-blue;
  border: 1px solid $brand-light-blue;
  &:hover{
    background: $brand-light-blue;
    color: $grey-100;
  }
  &.white{
    border: 1px solid $grey-100;
    color: $grey-100;
    &:hover{
      background-color: #fff;
      color: #01C7DF;
    }
  }
}
