.card-depoimento{
  max-width: 38.4rem;
  height: 20.9rem;
  background: rgba(241, 240, 245, 0.55);
  padding: 3.7rem 3.2rem 2.3rem 3.2rem;
  .usuario{
    margin-bottom: 2.1rem;
    @include flex(row, center, space-between);
    strong{
      color: $grey-500;
      font-family: $poppins;
      font-size: 1.8rem;
      line-height: 112%;
      font-weight: 600;
      letter-spacing: -1px;
    }
  }
  p{
    color: $grey-400;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 150%;
  }
  @include responsive(480px){
    height: 25.3rem;
  }
}