.rodape{
  background-color: $brand-blue;
  padding-top: 4.9rem;
  .topo-rodape{
    @include flex(row, center, space-between);
    border-bottom: 2px solid rgba(73,197,253,.2);
    padding-bottom: 4.8rem;
    margin-bottom: 5.7rem;
    .sociais{
      @include flex(row, center, flex-start);
      gap: 3rem;
      strong{
        color: $white;
        font-size: 1.4rem;
        opacity: 0.7;
        font-weight: 400;
      }
      ul{
        @include flex(row, center, flex-start);
        gap: 3rem;
      }
    }
  }
  .nav-interna{
    @include flex(row, flex-start, space-between);
    border-bottom: 2px solid rgba(73,197,253,.2);
    padding-bottom: 6.2rem;
    margin-bottom: 3.9rem;
    nav{
      width: 100%;
      max-width: 86rem;
      @include flex(row, flex-start, space-between);
      .item{
        strong{
          font-family: $poppins;
          color: $white;
          margin-bottom: 2.5rem;
          display: inline-block;
          font-size: 1.6rem;
        }
        ul{
          @include flex(column, flex-start, flex-start);
          gap: 2.9rem;
          li{
            a{
              color: $white;
              font-size: 1.4rem;
              opacity: 0.7;
              transition: .3s all;
              &:hover{
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .buttons{
      width: 100%;
      max-width: 28rem;
      @include flex(column, flex-start, flex-start);
      gap: 2.4rem;
      button{
        @include flex(row, center, flex-start);
        gap: 2.4rem;
        height: 7.6rem;
        background-color: rgba(0, 165, 240, 0.23);
        border-radius: 6px;
        width: 100%;
        padding-left: 2.5rem;
        transition: all .3s ease;
        &:hover{
          transform: scale(1.1);
        }
        .text{
         text-align: left;
         strong{
          display: block;
          font-size: 1.4rem;
          color: $white;
         }
         span{
          font-size: 1.4rem;
          color: $white;
          line-height: 150%;
         }
        }
      }
    }
  }
  .mensagem{
    @include flex(row, flex-start, flex-start);
    gap: 2.5rem;
    padding-bottom: 3.8rem;
    border-bottom: 4px solid $brand-yellow;
    .emoji{
      font-size: 1.8rem;
    }
    p{
      font-size: 1.4rem;
      color: $white;
      line-height: 150%;
      width: 100%;
      max-width: 66rem;
      opacity: 0.8;
    }
  }
  @include responsive(1025px){
    .nav-interna{
      nav{
        max-width: 75rem;
      }
    }
  }
  @include responsive(991px){
    .nav-interna{
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding-bottom: 3.6rem;
      nav{
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 5rem 0;
        margin-bottom: 3rem;
        .item{
          width: 33%;
        }
      }
      .buttons{
        position: absolute;
        bottom: 13rem;
        right: 0;
      }
    }
    .mensagem{
      flex-direction: column;
      align-items: center;
      gap: 1.2rem;
      p{
        text-align: center;
      }
    }
  }
  @include responsive(600px){
   .nav-interna{
    margin-bottom: 3rem;
    .buttons{
      bottom: 10rem;
      max-width: 25rem;
      button{
        padding-left: 0;
        .text{
          text-align: center;
        }
        img{
          display: none;
        }
      }
    }
   }
  }
  @include responsive(480px){
    .topo-rodape{
      flex-direction: column;
      gap: 1.7rem;
      padding-bottom: 4.3rem;
      margin-bottom: 5.2rem;
      .sociais{
        flex-direction: column;
        gap: 2rem;
      }
    }
    .nav-interna{
      nav{
        gap: 5.3rem 0;
        .item{
          width: 50%;
        }
      }
      .buttons{
        position: relative;
        bottom: 0;
        max-width: 100%;
        button{
          .text{
            width: 100%;
          }
        }
      }
    }
  }
  @include responsive(400px){
    .nav-interna{
      nav{
        .item{
          width: 100%;
          text-align: center;
          ul{
            align-items: center;
          }
        }
      }
    }
  }
}