@mixin flex($direction, $align, $justify){
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin responsive($scrollWidth){
  @media(max-width: $scrollWidth){
    @content
  }
}